<h1>Lesson: <%= @lesson.name %></h1>

<p><%= @lesson.content %></p>

<p><%= link_to "Edit", edit_section_lesson_path(@section, @lesson) %></p>
<p><%= link_to "Delete", section_lesson_path(@section, @lesson),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<p><%= link_to "Return to lessons", lessons_path %></p>

<%= link_to "Previous", section_lesson_path(@lesson.previous()) %>
<%= link_to "Next", section_lesson_path(@lesson.next()) %>